/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

:root {
  --text: #ffffff;
  --background: #111111;
  --primary: #7b1fa2;
  --secondary: #142929;
  --accent: #69f0ae;
}

html,
body {
  height: 100%;
  background-color: var(--background);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
